.footer{
    background-color: #0f0f0f;
    color: #fff;
    padding: 60px 20px 20px;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-brand h2{
    color: #d9a441;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.footer-brand p{
    color: #ccc;
}

.footer-social h3{
    margin-bottom: 15px;
}

.social-links-footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-links-footer a{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.social-links-footer ul{
    list-style: none;
    padding: 0;
}

.social-links-footer li{
    margin-bottom: 8px;
}

.social-links-footer a:hover{
    color: #d9a441;
}

.footer-info h3{
    margin-bottom: 10px;
}

.footer-info p{
    color: #ccc;
    margin-bottom: 6px;
}

.footer-bottom{
    border-top: 1px solid #222;
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
}

@media (max-width: 769px){
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
}