.whyus{
    padding: 80px 20px;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
}

.whyus h2{
    font-size: 2.4rem;
    margin-bottom: 50px;
    color: #ffb703;
}

.whyus-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230, 1fr));
    gap: 30px;
}

.whyus-card{
    background: #1a1a1a;
    padding: 35px 25px;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whyus-icon{
    width: 50px;
    height: 50px;
    fill: #ffb703;
    margin-bottom: 20px;
}

.whyus-card h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #ffb703;
}

.whyus-card p{
    font-size: 0.95rem;
    line-height: 1.6rem;
    color: #ccc;
}

.whyus-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px  30px rgba(255, 183, 3, 0.15);
}

@media (max-width: 768px){
    .whyus{
        padding: 60px 15px;
    }

    .whyus h2{
        font-size: 2rem;
    }
}